body {
	background-image: url(../img/background-pattern.gif);
	padding-top: 70px;
}

.panel-default {
	box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.75);
	opacity: 0.95;
	margin-bottom: 15 px;
}

.switch-table-row:active {
	background-color: #F5F5F5;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}